body{
    background-color: #EEEEFF;
}

.Clock{
    width: 30rem;
    height: 30rem;
    background-color: pink;
    border: 20px solid palevioletred;
    border-radius: 50%;
    margin-left: 43rem;
    margin-top: 5em;
    position: relative;
}


.Clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

.hands{
    width: 14rem;
    height: 5px;
    background-color: #050301;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.06s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}